* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

#app__container {
    height: 100vh;
    width: 100vw;
    /* background-image: url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;     */
}

#app {
    min-width: 25rem;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;       
}

#app input {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0.3rem 0.8rem;
}

#app button {
    font-size: 18px;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    background-color: rgb(35, 96, 146);
    color: white;
    border: 0;
    border-radius: 5px;
}

.login__container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    margin-top: 20vh;
    padding: 1rem;
    gap: 1.5rem;
}

.login__container input {
    width: 22rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.login__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding-top: 0.5rem;
}

.login__btns .login__signup {
    font-size: 20px;
    color: white;
    letter-spacing: 0.06rem;
    padding-top: 1rem;
}

.toggle__login__signup {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.06rem;
    padding-left: 0.5rem;  
    cursor: pointer;  
}

.toggle__login__signup:hover {
    position: relative;
    bottom:2px;   
transition: 0.3s all ease-in-out;
}

.hiden {
    display: none;
}